/* src/App.css */

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: auto;
}
